<!DOCTYPE html>
<html ng-app='myApp'>

	<head>
		<meta charset="UTF-8">
		<title>
			<%= title %>
		</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<script src="/js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/manager.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body ng-controller="myctr" ng-init="novelIf=false">
		<button ng-click="getimg('https://zhydl.oss-cn-beijing.aliyuncs.com/dev/doctor/header/2018123163323390.jpg')">testtest</button>
		<div id="audio"></div>
		<ul>
			<li>
				<h2>添加小说名字</h2>
			</li>
			<li>
				<input type="text" ng-model="novelName" placeholder="请输入小说名字" /><button ng-click="nameSubmit()">提交</button>
			</li>
		</ul>
		<ul class="border-li">
			<li>
				<h2>小说列表</h2>
			</li>
			<li ng-repeat="res in novelList">
				<span>{{res.name}}</span>
				<button ng-click="novelIf=!novelIf">为小说添加内容</button>
				<button ng-click="getList(res.id)">查看小说章节</button>
				<button ng-hide="true" ng-click="addForm=!addForm">提取小说内容</button>
				<ul ng-show="novelIf">
					<li>
						<input type="text" ng-model="obj.novelCatalog" placeholder="请输入小说的目录的网址" />
					</li>
					<li>
						<button ng-click="catalogSubmit(res.id)">提交</button>
					</li>
				</ul>
				<table ng-show="lookTitle" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;">
					<tr>
						<th>ID</th>
						<th>bookID</th>
						<th>章节目录</th>
						<th>章节内容</th>
						<th>章节来源</th>
						<th>创建时间</th>
						<th>更新时间</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="res in titleList">
						<td><span>{{res.id}}</span></td>
						<td><span>{{res.book_id}}</span></td>
						<td><span>{{res.title}}</span></td>
						<td ng-dblclick="dbLookNovel(res.content)"><span title="{{res.content}}">{{res.content}}</span></td>
						<td><span>{{res.source}}</span></td>
						<td><span>{{res.creat_time}}</span></td>
						<td><span>{{res.update_time}}</span></td>
						<td>
							<button ng-hide="res.content" ng-click="chapterContent(res.id,res.source)">提取章节内容</button>
						</td>
					</tr>
				</table>
			</li>
		</ul>
		<div ng-show="lookTitle">
			pageSize:
			<button ng-click="changePage('pageSize-')">-</button>
			<input type="number" ng-model="pageSize" style="width: 50px;"/>
			<button ng-click="changePage('pageSize+')">+</button> pageNo:
			<button ng-click="changePage('pageNo-')">-</button>
			<input type="number" ng-model="pageNo"  style="width: 50px;"/>
			<button ng-click="changePage('pageNo+')">+</button>
			<button ng-click="search()">search</button>
		</div>
		<div ng-if="lookNovel" class="black"></div>
		<div ng-if="lookNovel" class="lookNovel">
			<!--<button ng-click="speakNovel()">speak</button>-->
			<button ng-click="$parent.lookNovel=''">关闭</button>
			<br />
			<span class="jcontent">{{$parent.lookNovel}}</span>
			<br />
			<button ng-click="$parent.lookNovel=''">关闭</button>
		</div>
	</body>

</html>